@model List<ASTDAT.Web.Models.EditUserViewModel>

@{
    ViewBag.Title = "Users List";
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
</div>

<p>

</p>
<div class="well">
    <div class="pull-right col-lg-1">
        <a class="btn btn-success" data-modal="" href="@Url.Action("Create")" id="btnCreate">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <table class="table table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
            <th>
                Roles
            </th>
            <th>
                Carrier (legacy) / company
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href='@Url.Action("Edit", new { @id = item.Id })' title='Edit User'>
                        @item.UserName
                    </a>
                </td>
                <td>
                    <a href='@Url.Action("Edit", new { @id = item.Id })' title='Edit User'>
                        @item.FullName
                    </a>
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <a href='@Url.Action("Edit", new { @id = item.Id })' title='Edit User'> <span class='glyphicon glyphicon-edit'> </span> </a>
                    <a href='@Url.Action("Delete", new { @id = item.Id })' title='Delete User'> <span class='glyphicon glyphicon-trash'> </span> </a>
                </td>
                <td>
                    @String.Join(", ", item.RolesList.Select(x => x.Text))
                </td>
                <td>
                    @if (item.CompanyId != null)
                    {
                        <span>@(item.CompanyName ?? "") (@(item.CompanyType ?? ""))</span>
                        <br />
                        <span class="text-muted">@((item.CompanyOnboardingStatus != null) ? item.CompanyOnboardingStatus : "-")</span>
                    }
                    else
                    {
                        <span>@(item.IsCarrierUser ? (item.CarrierApprovalStatus ?? "-") : "-")</span>
                    }
                </td>
            </tr>
        }

    </table>
</div>