
@{
    ViewBag.Title = "_DeleteFromDATAndTS";
}

<h2>_DeleteFromDATAndTS</h2>

<h2><b>Complete:</b>@ViewBag.Complete</h2>
<h2><b>DATCountB:</b>@ViewBag.DATCountB</h2>
<h2><b>DATCountA:</b>@ViewBag.DATCountA</h2>
<h2><b>TSCountB:</b>@ViewBag.TSCountB</h2>
<h2><b>TSCountA:</b>@ViewBag.TSCountA</h2>
