
@{
    ViewBag.Title = "DAT Loads Count";
}

<h2><b>DAT request: </b>@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</h2>
<h3>DAT Loads count: @ViewBag.Count</h3>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.LastExceptions != null)
        {
            <p><b>Host: </b>@ASTDAT.Web.Infrastructure.IntegrationService.Instance.Session.Url</p>
            <p><b>UserName: </b>@ASTDAT.Web.Infrastructure.IntegrationService.Instance.Session.Username</p>
            <p><b>Password: </b>@ASTDAT.Web.Infrastructure.IntegrationService.Instance.Session.Password</p>
            foreach (Tuple<DateTime, Exception> item in ViewBag.LastExceptions)
            {
                <p>@item.Item1.ToString("yyyy-MM-dd HH:mm:ss")</p>
                <p>@item.Item2.Message</p>
                <p>@(item.Item2.InnerException == null ? "" : item.Item2.InnerException.Message)</p>
                <p>@item.Item2.StackTrace</p>
                <br />
            }
        }
        else
        {
            <p>No Exception</p>
        }
    </div>
</div>

