
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>
    <b>ApplicationStarted: </b> @ViewBag.ApplicationStarted 
</h1>

<h1>
    <b>DAT Last Login: </b> @ViewBag.DATLastLogin (@ViewBag.DATLastLoginInfo)
</h1>

<h1>
    <b>DATUrl: </b> @ViewBag.DATUrl
</h1>

<h1>
    <b>TSUrl: </b> @ViewBag.TSUrl
</h1>

<h1>
    <b>ServiceManage: </b>
    <a href="@Url.Action("ServiceManage")" target="_blank">Start now</a>
</h1>

<h1>
    <b>LastEmailParse: </b> @ViewBag.LastEmailParse 
    <a href="@Url.Action("EmailParse")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last DAT Load: </b> @ViewBag.LastDATLoadState
    <a href="@Url.Action("DATLoadState")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last TS Load: </b> @ViewBag.LastTSLoadState
    <a href="@Url.Action("TSLoadState")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last DAT Refresh: </b> @ViewBag.LastDATRefreshState
    <a href="@Url.Action("RefreshDAT")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last TS Refresh: </b> @ViewBag.LastTSRefreshState
    <a href="@Url.Action("RefreshTS")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last Mercury Gate: </b> @ViewBag.LastMercuryGate
    <a href="@Url.Action("MercuryGate")" target="_blank">Start now</a>
</h1>

<h1>
    <b>Last Banyan Technology: </b> @ViewBag.LastBanyanTechnology
    <a href="@Url.Action("BanyanTechnology")" target="_blank">Start now</a>
</h1>

<h1>
	<b>Until Date Processing: </b> @ViewBag.LastUntilDate
    <a href="@Url.Action("UntilDateProcessing")">Start</a>
	&nbsp; or &nbsp;
    <a href="@Url.Action("UntilDateProcessing", new { test = true })">Start test</a>
</h1>

<h1>
    <a href="@Url.Action("GetDATLoads")" target="_blank">GetDATLoads</a>
</h1>

<h1>
    <a href="@Url.Action("GetTSLoads")" target="_blank">GetTSLoads</a>
</h1>


