@using ASTDAT.Data.Models

@model List<LoadModel>

@{
    ViewBag.Title = "Restore";
    var newDAT = (Dictionary<int, string>)ViewBag.NewDAT;
    var newTS = (Dictionary<int, int>)ViewBag.NewTS;
    var messages = (Dictionary<int, string>)ViewBag.Messages;
}

<h2>Restore @ViewBag.RestoreDate</h2>

<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { }))
    {
        <div class="col-md-12">
            <div class="form-group">
                <label>Dat IDS to restore</label>
                <input class="form-control" name="DatIds" value="@ViewBag.DATId" />
            </div>
            <div class="form-group">
                <label>TS IDS to restore</label>
                <input class="form-control" name="TSIds" value="@ViewBag.TSId" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">RESTORE</button>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <td>ID</td>
                <td>PickUp</td>
                <td>DateLoaded</td>
                <td>Old DAT ID</td>
                <td>Old TS ID</td>
                <td>DAT Deleted</td>
                <td>TS Deleted</td>
                <td>New DAT ID</td>
                <td>New TS ID</td>
                <td>Messages</td>
            </tr>
            @foreach(var load in Model)
            {
                <tr>
                    <td>@load.Id</td>
                    <td>@load.PickUpDate</td>
                    <td>@load.DateLoaded</td>
                    <td>@load.AssetId</td>
                    <td>@load.TrackStopId</td>
                    <td>@load.DateDatDeleted</td>
                    <td>@load.DateTSDeleted</td>
                    <td>
                        @if (newDAT != null && newDAT.ContainsKey(load.Id))
                        {
                            <span>@newDAT[load.Id]</span>
                        }
                    </td>
                    <td>
                        @if (newTS != null && newTS.ContainsKey(load.Id))
                        {
                            <span>@newTS[load.Id]</span>
                        }
                    </td>
                    <td>
                        @if (messages != null && messages.ContainsKey(load.Id))
                        {
                            <span>@messages[load.Id]</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
