@using ASTDAT.Data.Models

@model List<LoadModel>

@{
    ViewBag.Title = "RestoreLoads";
    int num = 0;
}

<h2>RestoreLoads</h2>
<h2>@ViewBag.State @Model.Count</h2>

<form method="post" action="@Url.Action("RestoreLoads")">
	<table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Date</th>
            <th>DAT</th>
            <th>TS</th>
            <th>UntilDate Date</th>
            <th>PickUp Date</th>
        </tr>
		@foreach(var item in Model)
		{
            num++;
			<tr>
                <td>@num</td>
				<td>
					<input type="hidden" name="ids" value="@item.Id" />
					@item.Id
				</td>
				<td>@item.CreateDate.Value.ToString("yyyy-MM-dd")</td>
				<td>@(item.DateDatDeleted.HasValue ? "X" : "")</td>
				<td>@(item.DateTSDeleted.HasValue ? "X" : "")</td>
				<td>@(item.UntilDate.HasValue ? item.UntilDate.Value.ToString("yyyy-MM-dd") : "")</td>
				<td>@item.PickUpDate.Value.ToString("yyyy-MM-dd")</td>
			</tr>
		}
	</table>

	<button type="submit" class="btn btn-primary">RESTORE</button>
</form>