@model ASTDAT.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Edit User";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 row">
            <div class="col-md-6">
                <input type="password" name="Password" id="Password" class="form-control" autocomplete="new-password" />
            </div>
            <div class="col-md-6">
                <div class="passwordInfo" style="display: none;">
                    <p class="text-warning">Must have 8 characters minimum</p>
                    <p class="text-warning">Must include at least one alpha</p>
                    <p class="text-warning">Must include at least one numeric</p>
                    <p class="text-warning">Must include at least one uppercase</p>
                    <p class="text-warning">Must include at least one lower case</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 row">
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "new-password" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Extension, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Extension, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email2, new { @class = "form-control", autocomplete = "new-password" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Location, (SelectList)ViewBag.Locations, "select a location", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Select User Role
        </label>
        <div class="col-md-10">
            @foreach (var item in (List<SelectListItem>)ViewBag.RoleId)
            {
                <input type="checkbox" name="SelectedRoles" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                @Html.Label(item.Text, new { @class = "control-label" })
                <span>&nbsp;&nbsp;&nbsp;</span>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Create" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-warning" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#Password').on('focusin', function () {
                console.log('focusin');
                $('.passwordInfo').show();
            });
            $('#Password').on('focusout', function () {
                console.log('focusout');
                $('.passwordInfo').hide();
            });
        });
    </script>
}
